[Unit]
Description=file_server
After=network.target 

[Service]
ExecStart=/usr/share/file_server/file_server 
ExecStop=/bin/kill -KILL $MAINPID
Type=simple
KillMode=control-group
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
